*
{
	margin: 0;
	padding: 0;
}

.conteiner
{
		display: flex;
		flex-wrap: wrap;
}

/*Smarthphones*/
@media (max-width: 767px){

	.top
  {
		background: #53aeeb;
    height: 100px;
		width: 100%;
		margin: 2%;
	}
	.menu
  {
		background: #019145;
    height: 100px;
		width: 100%;
		margin-left: 2%;
    margin-right: 2%;
	}
	.main
  {
		background: #d41341;
    height: 350px;
		width: 100%;
    margin: 2%;
	}
	.bar
   {
		display: none;
	}
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1023px){
	.top
  {
    background: #53aeeb;
    height: 100px;
		width: 100%;
    margin: 2%;
	}
	.menu
  {
		background: #019145;
    height: 100px;
    width: 100%;
    margin-right: 2%;
		margin-left: 2%;
    margin-bottom: 2%;
	}
	.main
  {
		background: #d41341;
    height: 350px;
    width: 50%;
    margin-right: 2%;
    margin-left: 2%;
	}
	.bar
  {
		background: #f2851f;
    height: 350px;
    width: 44%;
	}
}

/*Desktop*/
@media (min-width: 1024px){
	.top
  {
    background: #53aeeb;
    height: 150px;
		width: 100%;
    margin: 2%;
	}

	.menu
  {
		background: #019145;
    height: 450px;
		width: 18%;
    margin-left: 2%;
    margin-top: 1%;
	}

	.main
  {
		background: #d41341;
    height: 450px;
		width: 58%;
    margin: 1%;
	}

	.bar
  {
		background: #f2851f;
    height: 450px;
		width: 18%;
    margin-top: 1%;
    margin-right: 2%;
	}
}
