*{
	margin: 0;
	padding: 0;
}

.conteiner{
  padding: 1vh;
	display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
}

/*Smarthphones*/
@media (max-width: 767px){

	.top{
		background: #53aeeb;
    height: 100px;
		width: 100%;
		margin-bottom: 1vh;
	}
	.menu{
		background: #019145;
    height: 100px;
		width: 100%;
		margin-bottom: 1vh;
	}
	.main{
		background: #d41341;
    height: 350px;
		width: 100%;
	}
	.bar{
		display: none;
	}
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1023px){
	.top{
    background: #53aeeb;
    height: 100px;
		width: 100%;
		margin-bottom: 1vh;
	}
	.menu{
		background: #019145;
    height: 100px;
    width: 100%;
		margin-bottom: 1vh;
	}
	.main{
		background: #d41341;
    height: 350px;
    width: 50%;
	}
	.bar{
		background: #f2851f;
    height: 350px;
    width: 48%;
	}
}

/*Desktop*/
@media (min-width: 1024px){
	.top{
    background: #53aeeb;
    height: 100px;
		width: 100%;
		margin-bottom: 1vh;
	}

	.menu{
		background: #019145;
    height: 450px;
		width: 22%;
    margin-bottom: 1vh;
	}

	.main{
		background: #d41341;
    height: 450px;
		width: 55%;
	}

	.bar{
		background: #f2851f;
    height: 450px;
		width: 20%;
	}
}
