html,
body,
.container-fluid {
    height: 100%;
    margin: 5px;
}

.container-fluid,
.row,
.row > * {
    padding: 0px;
    margin: 0px;
    height: 100%;
    border: 5px solid white;
    box-sizing: border-box;
}

.logo {
    background-color: #38C8FE;
    border-right: 15px solid white;
}

.title {
    background-color: #FFAF47;
}

.main {
    background-color: #FF7747;
}

.info {
    background-color: #FFD647;
    border-right: 15px solid white;
}

.infolast {
  background-color: #FFD647;
}

.footer {
    background-color: #FDC1FF;
}

/* Mobile */

.first {
    height: 20%;
}

.second {
    height: 50%;
}

.third {
    height: 30%;
}

.fourth {
    display: none;
}

.info {
  border-right: 5px solid white;
}

/* Tablet */

@media (min-width: 768px) {
    .first {
        height: 20%;
    }
    .second {
        height: 50%;
    }
    .third {
        height: 20%;
    }
    .fourth {
        height: 10%;
        display: block;
    }
}

/* Desktop */

@media (min-width: 1200px) {
    .first {
        height: 20%;
    }
    .second {
        height: 50%;
    }
    .third {
        height: 30%;
    }
    .fourth {
        display: none;
    }
}
